.senses {
    margin: 0 2em;
}

.senses h3 {
    text-decoration: underline;
}

div.photo {
    text-align: center;
}

div.photo img {
    width: 25em;
    max-width: 80%;
    margin-block: 1.25em;
}

.difference-chart header {
    border: 1px red solid;
    color: red;
    text-align: center;
    padding: 0 1em;

}

.difference-chart th, .difference-chart td {
    border: 1px solid black;
    padding: 0.275em
}

html {
    scroll-behavior: smooth;
}